body
    font-family sans-serif
    background-color #ddd

div.disabled
    opacity 0.3

.month
    vertical-align top
    display inline-block
    margin 0.5em
    padding 0em 0.3em 0em 0.3em
    background #fff
    box-shadow 5px 5px 15px rgba(0,0,0,.1)

.month h3
    text-align center
    margin 10px 0px 0px 0px

.day
    text-align center
    display inline-block
    width 2em
    height 3em

.day.header
    color: #aaa
    height 2em

.day.inactive
    opacity: 0.3
