body
    font-family sans-serif
    background-color #ddd
    margin 0

div.disabled
    opacity 0.3

.eventDesc
    background #bbb
    margin 0em
    margin-bottom 40px
    padding 1em
    text-shadow 0px 0px 3px #fff
    box-shadow 10px 10px 30px rgba(0,0,0,0.3)
    border-bottom 1px solid #ccc

.month
    border-radius 1em
    vertical-align top
    display inline-block
    margin 0.5em
    padding 0em 0.3em 0em 0.3em
    background #fff
    margin-bottom 1em
    box-shadow 5px 5px 15px rgba(0,0,0,0.1)

.usageDescription
    border-radius 1em
    vertical-align top
    display inline-block
    margin 0.5em
    padding 0em 0.3em 0em 0.3em
    background #fff
    margin-bottom 1em
    box-shadow 5px 5px 15px rgba(0,0,0,0.1)
    padding 0.5em

.months
    text-align center

.month h3
    text-align center
    margin 10px 0px 0px 0px

.day
    border-radius 0.5em
    text-align center
    display inline-block
    padding 0.1em
    margin 0.1em
    margin-bottom .3em
    width 2em
    height 2.5em

.day.header
    color: #aaa
    height 2em

.day.inactive
    opacity: 0.3
