body
    font-family sans-serif
    background-color #ddd

.month
    vertical-align top
    display inline-block
    margin 1em
    background #fff
    box-shadow 5px 5px 15px rgba(0,0,0,.1)

.month h3
    text-align center
    margin 10px 0px 0px 0px


.day
    text-align right
    display inline-block
    width 1.5em
    margin-right 0.5em
    height 2em

.day.header
    color: #aaa

.day.inactive
    color: #aaa
